# Supabase configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Gemini API Key
GEMINI_API_KEY=

# Resend API Key for Email Sending
RESEND_API_KEY=

# Encryption key for securing sensitive connection API keys
ENCRYPTION_KEY=
